@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::selection {
    background-color: #2ECC71;
    color: white;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
